* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
    color: #333;
    padding: 20px;
    animation: backgroundFade 10s infinite alternate;
  }
  
  @keyframes backgroundFade {
    0% { background-color: #e0f7fa; }
    100% { background-color: #c072f3; }
  }
  
  h1 {
    font-size: 2.5rem;
    color: #790000;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  #scoreboard {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000000;
  }
  
  #laboratory {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1000px;
  }
  
  .sector {
    padding: 20px;
    width: 30%;
    background-color: #ffecb3;
    border: 2px solid #740202;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .sector:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .sector h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #4d0000;
  }
  
  #dialog-box {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #790000;
    border-radius: 10px;
    text-align: center;
    animation: popUp 0.5s ease-out;
  }
  
  @keyframes popUp {
    0% { transform: translate(-50%, -20%) scale(0.8); }
    100% { transform: translate(-50%, -20%) scale(1); }
  }
  
  #dialog-box h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  
  #dialog-box p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  #character {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 180px; /* Aumentado de 120px para 180px */
    text-align: center;
    animation: bounce 3s infinite;
  }
  
  #character img {
    width: 100%; /* A imagem se ajusta automaticamente ao novo tamanho */
    border-radius: 50%;
    border: 3px solid #860404;
  }
  
  #character-dialog {
    background-color: #fff;
    padding: 10px;
    border: 2px solid #790000;
    border-radius: 10px;
    margin-top: 10px;
    color: #333;
    font-size: 1rem; /* Aumentado de 0.9rem para 1rem para acompanhar o tamanho maior */
    animation: fadeIn 1s ease;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }